/* ========== VARIABLES BÁSICAS ========== */
:root {
    /* Palette principal */
    --color-primary-soft: #84D187;
    --color-primary: #00B207;
    --color-primary-hard: #2C742F;
    --color-warning: #FF8A00;
    --color-danger: #EA4B48;
    --color-white: #FFFFFF;

    /* Escala de grises */
    --color-gray-900: #1a1a1a;
    --color-gray-800: #333333;
    --color-gray-700: #4D4D4D;
    --color-gray-600: #666666;
    --color-gray-500: #808080;
    --color-gray-400: #999999;
    --color-gray-300: #B3B3B3;
    --color-gray-200: #CCCCCC;
    --color-gray-100: #E5E5E5;
    --color-gray-50: #F2F2F2;


    /* Escala verdes */
    --color-green-gray-900: #002603;
    --color-green-gray-800: #173B1A;
    --color-green-gray-700: #2B572E;
    --color-green-gray-600: #406B42;
    --color-green-gray-500: #618062;
    --color-green-gray-400: #7A997C;
    --color-green-gray-300: #96B297;
    --color-green-gray-200: #B4CCB4;
    --color-green-gray-100: #DAE5DA;
    --color-green-gray-50: #EDF2EE;

    /* Espaciado base */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --radius-md: 8px;
    --radius-lg: 12px;

    /*Tipografia */
    --font-family: "Poppins", sans-serif;
    --font-size: 16px;

}

/*Mobile first*/
/* Reset básico */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--color-gray-900);
    background-color: #f9fafb;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
}

section {
    padding-block: 40px;
}


/*Desktop*/
@media (min-width: 768px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding-inline: 16px;
    }
}

@media (min-width: 768px) {
    .col-1 {
        grid-column: span 1;
    }

    .col-2 {
        grid-column: span 2;
    }

    .col-3 {
        grid-column: span 3;
    }

    .col-4 {
        grid-column: span 4;
    }

    .col-5 {
        grid-column: span 5;
    }

    .col-6 {
        grid-column: span 6;
    }

    .col-7 {
        grid-column: span 7;
    }

    .col-8 {
        grid-column: span 8;
    }

    .col-9 {
        grid-column: span 9;
    }

    .col-10 {
        grid-column: span 10;
    }

    .col-11 {
        grid-column: span 11;
    }

    .col-12 {
        grid-column: span 12;
    }
}