.button {
    border-radius: 6px;
    background-color: var(--color-primary-hard);
    border: none;
    justify-content: center;
    color: var(--color-white);
    padding: 14px 24px;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 10px 0;
}

.button__banner {
    padding: 5% 5%;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-primary-hard);
    border: none;
    justify-content: center;
    color: var(--color-white);
    font-weight: 600;
    margin: 10px 0;
}