.button {
    border-radius: 6px;
    background-color: var(--color-primary-hard);
    border: none;
    justify-content: center;
    color: var(--color-white);
    padding: 14px 24px;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 10px 0;
}

.button__banner {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 7px 13px;
    border-radius: 999px;
    background-color: var(--color-primary-hard);
    color: var(--color-white);
    border: none;
    font-size: 0.85rem;
    font-weight: 600;
    box-shadow: 0 4px 12px var(--color-gray-900);
    cursor: pointer;
}

.banner__content .banner__cta-icon {
    font-size: 1rem;
}

/* desktop */
@media (min-width: 768px) {
    .button__banner {
        padding: 12px 26px;
        font-size: 1rem;
    }
}