.button {
    border-radius: 6px;
    background-color: var(--color-primary);
    border: none;
    justify-content: center;
    color: var(--color-white);
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
}