/*Mobile first*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

/*Header*/
.header__top {
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-block: 12px;
}

.logo img {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
}

.logo span {
    color: var(--color-gray-900);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.96px;
}

.header__search {
    align-items: center;
}

input {
    width: 300px;
    padding: 12px 18px 12px 16px;
    color: var(--color-gray-500);
    border: 1px solid var(--color-gray-100);
}

.icon img {
    width: 40px;
    height: 25px;
}

.icon a:hover {
    cursor: pointer;
    color: var(--color-primary);

}

.header__nav {
    background-color: var(--color-white);
    position: relative;
}

/* Menú oculto por defecto en mobile */
.header__search {
    display: none;
}

.burger__menu,
.header__nav {
    display: block;
}

.main__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 20;
    background: var(--color-white);
    border-top: 1px solid #e5e7eb;
    padding: 12px 0;
}

.main__nav.is-open {
    display: block;
}

.nav__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
}

.nav__links a:hover {
    color: var(--color-primary);
}

/* Botón burger */
.nav__toggle {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid #e5e7eb;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding: 0;
}

.nav__toggle__line {
    width: 18px;
    height: 2px;
    background: #111827;
}

/* ===== DESKTOP ===== */
/* En desktop: oculto burger y muestro menú inline */
@media (min-width: 768px) {    
    .main__nav {
        display: block;
        position: static;
        border-top: 0;
        background: transparent;
    }

    .nav__links {
        flex-direction: row;
        gap: 27px;
        padding: 0;
    }

    .grid-12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
    }

    .icon__search,
    .burger__menu {
        display: none;
    }

    .header__search, 
    .header__nav {
        display: block;
    }
}

/*Banner */
.hero {
    position: relative;
    background-color: var(--color-gray-50);
}

.hero__inner {
    padding-block: 24px 40px;
    position: relative;
}

.hero__slider {
    display: flex;
    transition: transform 0.4s ease;
}

/* Cada slide ocupa el 100% del ancho */
.hero__slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.hero__image img {
    width: 100%;
    max-width: 320px;
    height: auto;
}

/* Texto mobile */
.hero__title {
    color: var(--color-gray-900);
    font-size: 28px;
    line-height: 120%;
}

.hero__subtitle {
    color: var(--color-gray-900);
    font-size: 16px;
    line-height: 120%;
    margin-top: 8px;
}

.hero__highlight {
    color: var(--color-warning);
    font-weight: 600;
}

/* Flechas */
.hero__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 999px;
    border: none;
    background: var(--color-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    z-index: 10;
    pointer-events: auto;
}

.hero__arrow--left {
    left: 8px;
}

.hero__arrow--right {
    right: 8px;
}

/* Dots */
.hero__dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.hero__dot {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    border: none;
    background: var(--color-gray-300);
    cursor: pointer;
}

.hero__dot--active {
    width: 16px;
    background: var(--color-primary);
}

@media (min-width: 768px) {
    .hero__inner {
        padding-block: 40px 80px;
    }

    .hero__slide {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .hero__image img {
        max-width: 480px;
    }

    .hero__title {
        font-size: 60px;
        width: 596px;
    }

    .hero__subtitle {
        font-size: 25px;
    }
}


/*Categories*/
.categories {
    background-color: var(--color-white);
}

.section__header {
    color: var(--color-gray-900);
    justify-items: center;
}

/*Mobile*/
.categories__grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/*Desktop*/
@media(min-width: 768px) {
    .categories__grid {
        gap: 20px;
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.category {
    display: inline-flex;
    padding: 16px 0 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--color-gray-100);
    background: var(--color-white);
}

.category img {
    max-width: 100%;
}

.category__text {
    color: var(--color-gray-900);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

/*Sales*/

.sales {
    background-color: var(--color-gray-50);
}

/*Mobile*/
.sales__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*Desktop*/
@media(min-width: 768px) {
    .sales__grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.sales__item {
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-white);
}

.sales__img {
    text-align: center;
}

.sales img {
    max-width: 100%;
}

.sales__productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.sales__info {
    display: flex;
    flex-direction: column;
}

.sales__name {
    color: var(--color-gray-700);
    font-weight: 400;
    line-height: 150%;
}

.sales__price {
    color: var(--color-gray-900);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    margin: 2px;
}

.sales__rating {
    display: flex;
    align-items: flex-start;
}

.button__cart {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: none;
}

.button__cart img {
    color: var(--color-gray-900);
}

.sales__item__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/*Featured products*/
.featured {
    background-color: var(--color-white);
}

/*Footer */
.footer {
    background-color: var(--color-gray-900);
    color: var(--color-gray-50);
    padding: 16px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.footer__bottom {
    text-align: center;
    color: var(--color-gray-400);
    border-top: 1px solid var(--color-gray-700);
    margin-top: 16px;
    padding-top: 16px;
}

.footer .logo span {
    color: var(--color-gray-50);
    font-size: 20px;
}

.footer .logo img {
    width: 22px;
    height: 22px;
    ;
}

.footer__left {
    width: 40%;
}

.footer__links {
    width: 20%;
}

.footer__links h4 {
    font-weight: 400;
}

.footer__links a {
    color: var(--color-gray-400);
}

.footer p {
    color: var(--color-gray-400);
}