/* PRODUCT*/
/*Breadcrumb*/
.breadcrumb {
    font-size: 16px;
}

.breadcrumb__nav {
    color: var(--color-gray-500);
}

.breadcrumb__nav img {
    width: 12px;
    height: 12px;
}

.product__active {
    color: var(--color-primary);
    font-weight: 600;
}

.product {
    background-color: var(--color-white);
}

@media (min-width: 768px) {
    .product__inner .grid-12 {
        gap: 32px;
    }

    .product__image {
        width: 100%;
        height: 100%;
    }
}

/*Promo ticker*/
.promo-ticker {
    background: var(--color-gray-900);
    color: var(--color-white);
    overflow: hidden;
    height: 28px;
    display: flex;
    align-items: center;
}

.promo-ticker__track {
    display: flex;
    width: max-content;
    animation: promoMarquee 20s linear infinite;
}

.promo-ticker__text {
    white-space: nowrap;
    margin: 0;
    padding: 0 12px;
    font-size: 0.7rem;
    font-weight: 500;
}

@keyframes promoMarquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .promo-ticker__track {
        animation: none;
    }
}

@media (min-width: 768px) {
    .promo-ticker__text {
        font-size: 1rem;
        padding: 12px 0;
    }

    .promo-ticker__track {
        display: flex;
        width: max-content;
        animation: promoMarquee 15s linear infinite;
    }

    @keyframes promoMarquee {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }
}

/*PRODUCT INFO*/
.product__thumbs {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    gap: 36px;
}

.thumbs__list {
    text-align: center;
}

.thumb {
    width: 100px;
    height: 100px;
    padding: 6px;

    border: 1px solid var(--color-gray-600);
    border-radius: 10px;
}

.thumbs__list img {
    object-fit: contain;
}

.thumb.is-active {
    border: 1px solid var(--color-primary);
    box-shadow: 3px 2px 16px var(--color-primary);
}

.thumbs__arrow {
    display: block;
    background: none;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-gray-900);

}

/*Desktop*/
@media (min-width: 768px) {
    .product__thumbs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .thumbs__arrow {
        background: none;
        border: 0;
        font-size: 20px;
        cursor: pointer;
        color: var(--color-gray-900);
    }

    .thumbs__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .thumb {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: 1px solid #e5e7eb;
        padding: 4px;
        cursor: pointer;
    }

    .thumb.is-active {
        border: 1px solid var(--color-primary);
        box-shadow: 3px 2px 16px var(--color-primary);
    }
}

.product__media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}

.product__image {
    height: 285px;
    object-fit: contain;
    width: 90%;
}

/*PRODUCT INFO*/
.product__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
}

.product__title {
    font-size: 28px;
    font-weight: 600;
}

.product__rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product__stars {
    color: var(--color-warning);
}

.product__price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    font-size: 18px;
}

.product__price--old {
    text-decoration: line-through;
    color: var(--color-gray-500);
    font-size: 14px;
}

.product__price--current {
    font-weight: 600;
    color: var(--color-primary);
}

.product__price--discount {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 999px;
    color: var(--color-danger);
    font-weight: 600;
    border: 1px solid var(--color-danger);
}

.product__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

.product__qty {
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
}

.qty__btn {
    width: 32px;
    height: 32px;
    border: none;
    background: var(--color-white);
    cursor: pointer;
}

.qty__input {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    color: var(--color-gray-900)
}

/* TABS */
.product-details__tabs {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid var(--color-gray-100);
}

.product-details__tab {
    background: none;
    border: 0;
    padding: 12px 0;
}

.product-details__tab.is-active {
    border-bottom: 2px solid var(--color-primary);
}

.product-details__panel {
    padding-top: 24px;
    display: none;
}

.product-details__panel.is-active {
    display: block;
}

.product-details {
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordion {
    border-bottom: 1px solid var(--color-gray-400);
    padding-block: 12px;
}

.accordion__header {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion__icon {
    font-size: 22px;
    transition: transform 0.2s;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
    padding-right: 8px;
    font-size: 0.8em;
    color: var(--color-gray-900);
}

.accordion__header[aria-expanded="true"]+.accordion__content {
    padding-top: 12px;
}

.accordion__header[aria-expanded="true"] .accordion__icon {
    transform: rotate(45deg);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* REVIEW */
.review {
    margin-bottom: 20px;
}

.review__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 200;
}

.review__text {
    margin-top: 4px;
    font-size: 1em;
    color: var(--color-gray-800);
}